* text=auto !eol
/Makefile -text
dist/apps/WiiHeretic/boot.dol -text
dist/apps/WiiHeretic/icon.png -text
dist/apps/WiiHeretic/meta.xml -text
dist/apps/WiiHeretic/pspheretic.wad -text
src/aes_prng.c -text
src/aes_prng.h -text
src/am_data.h -text
src/am_map.c -text
src/am_map.h -text
src/config.h -text
src/ct_chat.h -text
src/d2x-cios-installer.h -text
src/d_event.c -text
src/d_event.h -text
src/d_items.h -text
src/d_iwad.c -text
src/d_iwad.h -text
src/d_loop.c -text
src/d_loop.h -text
src/d_main.c -text
src/d_main.h -text
src/d_mode.c -text
src/d_mode.h -text
src/d_net.c -text
src/d_ticcmd.h -text
src/dbopl.c -text
src/dbopl.h -text
src/deh_ammo.c -text
src/deh_defs.h -text
src/deh_frame.c -text
src/deh_htext.c -text
src/deh_htic.c -text
src/deh_htic.h -text
src/deh_io.c -text
src/deh_io.h -text
src/deh_main.c -text
src/deh_main.h -text
src/deh_mapping.c -text
src/deh_mapping.h -text
src/deh_sound.c -text
src/deh_str.c -text
src/deh_str.h -text
src/deh_text.c -text
src/deh_thing.c -text
src/deh_weapon.c -text
src/doomdata.h -text
src/doomdef.h -text
src/doomfeatures.h -text
src/doomkeys.h -text
src/doomstat.h -text
src/doomtype.h -text
src/dstrings.h -text
src/f_finale.c -text
src/g_game.c -text
src/gui.c -text
src/gui.h -text
src/i_glscale.c -text
src/i_glscale.h -text
src/i_joystick.c -text
src/i_joystick.h -text
src/i_main.c -text
src/i_oplmusic.c -text
src/i_scale.c -text
src/i_scale.h -text
src/i_sdlsound.c -text
src/i_sound.c -text
src/i_sound.h -text
src/i_swap.h -text
src/i_system.c -text
src/i_system.h -text
src/i_timer.c -text
src/i_timer.h -text
src/i_video.c -text
src/i_video.h -text
src/i_videohr.c -text
src/i_videohr.h -text
src/i_wiimain.c -text
src/image.h -text
src/in_lude.c -text
src/info.c -text
src/info.h -text
src/libgeometry.h -text
src/libstring.h -text
src/libtime.h -text
src/m_argv.c -text
src/m_argv.h -text
src/m_bbox.c -text
src/m_bbox.h -text
src/m_cheat.c -text
src/m_cheat.h -text
src/m_config.c -text
src/m_config.h -text
src/m_controls.c -text
src/m_controls.h -text
src/m_fixed.c -text
src/m_fixed.h -text
src/m_misc.c -text
src/m_misc.h -text
src/m_random.c -text
src/m_random.h -text
src/md32_common.h -text
src/md5.h -text
src/md5_dgst.c -text
src/md5_locl.h -text
src/md5_one.c -text
src/memio.c -text
src/memio.h -text
src/midifile.c -text
src/midifile.h -text
src/mn_menu.c -text
src/mus2mid.c -text
src/mus2mid.h -text
src/net_defs.h -text
src/opl.c -text
src/opl.h -text
src/opl_internal.h -text
src/opl_queue.c -text
src/opl_queue.h -text
src/opl_sdl.c -text
src/opl_timer.c -text
src/opl_timer.h -text
src/p_action.h -text
src/p_ceilng.c -text
src/p_doors.c -text
src/p_enemy.c -text
src/p_floor.c -text
src/p_inter.c -text
src/p_lights.c -text
src/p_local.h -text
src/p_map.c -text
src/p_maputl.c -text
src/p_mobj.c -text
src/p_plats.c -text
src/p_pspr.c -text
src/p_saveg.c -text
src/p_setup.c -text
src/p_sight.c -text
src/p_spec.c -text
src/p_spec.h -text
src/p_switch.c -text
src/p_telept.c -text
src/p_tick.c -text
src/p_user.c -text
src/pngu.h -text
src/r_bsp.c -text
src/r_data.c -text
src/r_draw.c -text
src/r_local.h -text
src/r_main.c -text
src/r_plane.c -text
src/r_segs.c -text
src/r_things.c -text
src/s_sound.c -text
src/s_sound.h -text
src/sb_bar.c -text
src/sha1.c -text
src/sha1.h -text
src/sounds.c -text
src/sounds.h -text
src/statdump.h -text
src/sys.h -text
src/sys_fat.c -text
src/sys_fat.h -text
src/sys_globals.h -text
src/sys_menu.c -text
src/sys_nand.h -text
src/sys_usbstorage.c -text
src/sys_usbstorage.h -text
src/sys_wpad.c -text
src/sys_wpad.h -text
src/tables.c -text
src/tables.h -text
src/v_patch.h -text
src/v_video.c -text
src/v_video.h -text
src/video.c -text
src/video.h -text
src/w_checksum.c -text
src/w_checksum.h -text
src/w_file.c -text
src/w_file.h -text
src/w_file_stdc.c -text
src/w_main.c -text
src/w_main.h -text
src/w_merge.h -text
src/w_wad.c -text
src/w_wad.h -text
src/xmn_PSPm.h -text
src/xmn_fntb.h -text
src/xmn_main.c -text
src/xmn_main.h -text
src/xmn_md5.c -text
src/xmn_psp.c -text
src/xmn_psp.h -text
src/z_zone.c -text
src/z_zone.h -text
/test.sh -text
wad/WARNING!!!.txt -text
wad/Wii-HERETIC[!!-~]-[!!-~]WCHM.wad -text
